doctype html
head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css", crossorigin="anonymous")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
  //- script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js", crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js", crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
